# Laravel & PHP
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*.php

# Environment
.env
.env.backup
.env.*.local

# Cache & hasil testing
.phpunit.result.cache
.phpunit.cache
*.phpunit.result.cache

# IDE / Editor
.idea
.vscode
nbproject
*.sublime-workspace
*.sublime-project

# OS Files
.DS_Store
Thumbs.db

# Laravel Mix / Vite
/public/hot
/public/mix-manifest.json
/public/build
npm-debug.log
yarn-error.log
pnpm-debug.log
